@media screen and (max-width: 1024px){
    /* nothing */
}

@media screen and (max-width: 900px){
    .container2{
        background-size: contain;
    }
}

@media screen and (max-width: 768px){
    .w50{
       width: 100%;
    }

    .card{
        display: none;
    }

    .chamada1{
        position: absolute;
        float: none;
        padding: 0 20px;
        margin: 150px auto;
        text-align: center;
        width: 98%;
    }

    .desktop{display: none;}
    .mobile{display: block;}
    .logo a{top: 6px;}
    .botao-menu-mobile i{
        position: relative;
        top: -5px;
    }

    .left-side{
        top: 15px;
    }

}

@media screen and (max-width: 750px){
    .chamada1{
        margin: 110px auto;
    }
    .container2 {
        position: relative;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .right-side{
        margin: 0 auto;
    }

    .sobre-mim-desc {
        margin: 0 auto;
        padding: 0 2%;
    }

    .left-side img {
        margin-top: 10px;
    }

    .right-side span {
        margin-left: 113px;
    }
}

@media screen and (max-width: 450px){
    .left-side{
        width: 300px;
    }

    .featurette-divider{
        margin: 50px 0;
    }
}